@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family : "barlow-regular";
  src: url(../../public/fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family : "barlow-bold";
  src: url(../../public/fonts/Barlow/Barlow-Bold.ttf);
}
@font-face {
  font-family : "barlow-light";
  src: url(../../public/fonts/Barlow/Barlow-Light.ttf);
}

/* Barlow condensed  */
@font-face {
  font-family : "barlow-condensed-regular";
  src: url(../../public/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}
@font-face {
  font-family : "barlow-condensed-bold";
  src: url(../../public/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
@font-face {
  font-family : "barlow-condensed-light";
  src: url(../../public/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

/* Bellefair */
@font-face {
  font-family : "bellefair-regular";
  src: url(../../public/fonts/Bellefair/Bellefair-Regular.ttf);
}




body {
  font-family: Arial, Helvetica, sans-serif;
}


.bg_home{
  background: url('../../public/assets/home/background-home-desktop.jpg');
}

.bg_destination{
  background: url('../../public/assets/destination/background-destination-desktop.jpg');
}

.bg_home, 
.bg_destination {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  object-fit: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
